.homepage {
    background: url(.././smartphone-map.jpg);
    min-height: 100vh;
    margin-left: 100px;
}

.animation {
    font-family: 'Mallanna', sans-serif;
    z-index: 3;
    margin-right: 700px;
    transform: translateY(400%);
}

#logo-animate{
    margin-left: 50px;
}

.margincolor{
    background-color: var(--caramel);
}